.bodey {
    background-color: lightblue;
    background-image: url("https://4kwallpapers.com/images/wallpapers/macos-monterey-wwdc-21-stock-5k-1920x1080-5584.jpg");
}
.titel {
    text-align: center;
    color: cornflowerblue;
    font-family: cursive;
}
.bistraskanava {
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   background-color: darkseagreen;
  outline: none;
  font-family: cursive;
  color: black;
  border-radius: 4px;
}
.fullskanava {
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background-color: darkseagreen;
  font-family: cursive;
  color: black;
  border-radius: 4px;
}
.exitbtn {
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   background-color: darkseagreen;
  outline: none;
  font-family: cursive;
  color: black;
  border-radius: 8px;
}
.knoponka {
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   background-color: darkseagreen;
  outline: none;
  font-family: cursive;
  color: black;
  border-radius: 4px;
}
.area {
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   outline: none;
   font-family: cursive;
   border-radius: 4px;
   resize: none;
}